<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      <svg
   width="95mm"
   height="95mm"
   viewBox="0 0 95 95"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
   sodipodi:docname="FlagR01.svg"
   inkscape:export-filename="fav.png"
   inkscape:export-xdpi="76.498825"
   inkscape:export-ydpi="76.498825"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#cccccc"
     borderopacity="1"
     inkscape:pageshadow="0"
     inkscape:pageopacity="1"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     width="200mm"
     inkscape:zoom="1.4289282"
     inkscape:cx="75.231213"
     inkscape:cy="212.39696"
     inkscape:window-width="2560"
     inkscape:window-height="1351"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     inkscape:showpageshadow="2"
     inkscape:deskcolor="#d1d1d1" />
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
       id="rect2567"
       width="48"
       height="8"
       x="5.000001"
       y="5" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
       id="rect2673"
       width="48"
       height="8"
       x="5.000001"
       y="29" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
       id="rect3401"
       width="22"
       height="8"
       x="5.000001"
       y="17" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
       id="rect3403"
       width="22"
       height="8"
       x="31.000002"
       y="17" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
       id="rect3405"
       width="48"
       height="8"
       x="42"
       y="58" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
       id="rect3407"
       width="48"
       height="8"
       x="42"
       y="82" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
       id="rect3409"
       width="22"
       height="8"
       x="42"
       y="70" />
    <rect
       style="fill:#323264;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
       id="rect3411"
       width="22"
       height="8"
       x="68"
       y="70" />
    <g
       id="g3425"
       transform="rotate(90,175,-9.4999995)"
       style="fill:#fac832;fill-opacity:1">
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
         id="rect3413"
         width="48"
         height="8"
         x="189.5"
         y="75.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
         id="rect3415"
         width="48"
         height="8"
         x="189.5"
         y="99.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
         id="rect3417"
         width="22"
         height="8"
         x="189.5"
         y="87.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
         id="rect3419"
         width="22"
         height="8"
         x="215.5"
         y="87.5" />
    </g>
    <g
       id="g3435"
       transform="rotate(90,130,-17.5)"
       style="fill:#fac832;fill-opacity:1">
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
         id="rect3427"
         width="48"
         height="8"
         x="189.5"
         y="75.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:4.97612;stroke-linecap:round;stroke-linejoin:round"
         id="rect3429"
         width="48"
         height="8"
         x="189.5"
         y="99.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
         id="rect3431"
         width="22"
         height="8"
         x="189.5"
         y="87.5" />
      <rect
         style="fill:#c896fa;fill-opacity:1;stroke:none;stroke-width:3.36885;stroke-linecap:round;stroke-linejoin:round"
         id="rect3433"
         width="22"
         height="8"
         x="215.5"
         y="87.5" />
    </g>
  </g>
</svg>
      {{ meta.siteName }}
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
