<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper | relative" role="banner">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo site-head__brand | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
      <svg
   width="30mm"
   height="30mm"
   viewBox="0 0 60 60"
   version="1.1"
   id="svg22869"
   inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
   sodipodi:docname="Edit.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview22871"
     pagecolor="#ffffff"
     bordercolor="#ffffff"
     borderopacity="0"
     inkscape:pageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="4.1524865"
     inkscape:cx="180.37386"
     inkscape:cy="40.578097"
     inkscape:window-width="2560"
     inkscape:window-height="1351"
     inkscape:window-x="-9"
     inkscape:window-y="-9"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     inkscape:showpageshadow="false"
     inkscape:deskcolor="#ffffff"
     borderlayer="false" />
  <defs
     id="defs22866" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <circle
       style="fill:none;fill-opacity:1;stroke:#323264;stroke-width:0.988763;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path5796"
       cx="15.033206"
       cy="15.093747"
       r="8.404479" />
    <path
       id="path6831"
       style="fill:#323264;fill-opacity:1;stroke:#ffffff;stroke-width:0.494382;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 24.920827,9.1611749 C 21.767166,10.486626 18.470246,11.127243 15.033206,11.138699 11.669973,11.12403 8.2415972,10.435424 5.1455853,9.1611749 10.389345,12.982628 13.991943,20.678219 15.033206,26.958893 16.101545,20.624055 19.592069,12.968444 24.920827,9.1611749 Z"
       sodipodi:nodetypes="ccccc" />
    <path
       id="path7906"
       style="fill:#323264;fill-opacity:1;stroke:#ffffff;stroke-width:0.494382;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       d="M 24.920827,20.838826 C 21.767166,19.513375 18.470246,18.872757 15.033206,18.861302 11.669973,18.875971 8.2415972,19.564577 5.1455853,20.838826 10.389345,17.017372 13.991943,9.3217814 15.033206,3.0411071 16.101545,9.3759458 19.592069,17.031556 24.920827,20.838826 Z"
       sodipodi:nodetypes="ccccc" />
  </g>
</svg>
      {{ meta.siteName }}
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
